<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817428527461-ncpfd5v6klgre8r9fb5lr59b8qhpean8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817428527461-ncpfd5v6klgre8r9fb5lr59b8qhpean8</string>
	<key>API_KEY</key>
	<string>AIzaSyCuvtRJMxANRC46NjtfnTNcOonjJ2g8_o8</string>
	<key>GCM_SENDER_ID</key>
	<string>817428527461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.e.wallet.eWallet</string>
	<key>PROJECT_ID</key>
	<string>ewallet-1301</string>
	<key>STORAGE_BUCKET</key>
	<string>ewallet-1301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817428527461:ios:564dda9936e4138620098c</string>
</dict>
</plist>